#js-search-input {
  border-block: none;
  border-inline: none;
  outline: none;
  inline-size: 100%;
  margin-block-end: 1.25rem;
  line-height: 1.15;
  font-size: 100%;
}

#js-search-input:focus {
  border-block-end: 2px solid #4575b6;
}
